.header {
    grid-area: header;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login_block {
    margin-right: 20px;
    font-size: 18px;
    color: navy;
    font-weight: bold;
}
.login_block a {
    text-decoration: none;
}
.logo {
    width: 80px;
}
