* {
    box-sizing: border-box;
}
.app-wrapper {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
'header header'
'nav content';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}
.app-wrapper-content {
    grid-area: content;
    background-color: gainsboro;
}


